/* temporary sizing & spacing */
body {
  /* width: 50vw; */
}
.card-container {
  margin: 5vw;
}

/* ---------------- */

/* Card Main Container*/
.card-container {
  transition: all 0.5s ease;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr auto;

  font-family: "Poppins", sans-serif;
  color: #767676;
}

/* Card Image */
.img-wrapper {
  grid-row: 1 / 3;

  aspect-ratio: 1/1;

  overflow: hidden;
  border-radius: 16px;
  background-color: #eef3fb;
}

.card-img {
  height: 100%;
  width: auto;
}

/* Card Text - title & desc */
.card-title {
  font-size: clamp(1.8rem, 6vw, 7rem);
  margin-block: 0 0.5rem;
  margin-left: 1rem;

  color: #185baa;
}
.card-title span {
  color: #019bf0;
}

.card-desc {
  margin: 0 1rem;
  font-size: clamp(0.5rem, 3vw, 3rem);
}

/* Card Tags */
.item-tags-wrapper {
  grid-column: 1/ -1;
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  padding: 0;

  list-style-type: none;
}

.item-tag {
  font-size: clamp(0.7rem, 2.5vw, 3rem);
  padding: 0.2rem 1rem;

  background-color: #f4f4f4;
  border-radius: 10px;
}

@media (min-width: 1028px) {
  html {
    font-size: 18px;
  }
  .card-container {
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 800px;
    position: relative;
    /* border: 1px solid blue; */
  }

  .card-title {
    margin: 0;
  }

  /* for improving performance */
  .card-desc,
  .item-tags-wrapper {
    will-change: max-height, opacity;
  }

  .card-desc,
  .item-tags-wrapper {
    margin: 0;
    margin-bottom: 1rem;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .card-container:hover .card-desc,
  .card-container:hover .item-tags-wrapper {
    max-height: 300px;
    opacity: 1;
  }
}
