/* temporary sizing & spacing */
html {
  font-size: 16px;
}
.card-container {
  margin: 5vw;
}

/* ---------------- */

/* Card Main Container*/
.card-container {
  transition: all 0.5s ease;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;

  font-family: "Poppins", sans-serif;
  color: #767676;
}

/* Card Image */
.img-wrapper {
  grid-row: 1 / 3;

  aspect-ratio: 1/1;

  overflow: hidden;
  border-radius: 16px;
  background-color: #eef3fb;
}

.card-img {
  height: 100%;
  width: auto;
}

/* Card Text - title & desc */
.card-title {
  font-size: clamp(1.8rem, 2.5vw + 1rem, 3rem);
  margin-block: 0 0.5rem;
  margin-left: 1rem;

  color: #185baa;
}
.card-title span {
  color: #019bf0;
}

.card-desc {
  margin: 0 1rem;
  font-size: clamp(0.3rem, 2vw + .5rem, 2rem);
}

/* Card Tags */
.item-tags-wrapper {
  grid-column: 1/ -1;
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 0;

  list-style-type: none;
}

.item-tag {
  font-size: clamp(0.1rem, 1.8vw + .3rem, 1.5rem);
  padding: 0.2rem 1rem;

  background-color: #f4f4f4;
  border-radius: 10px;
}

@media (min-width: 1028px) {
  /* test size temporary */
  .card-container {
    max-height: 1200px;
    max-width: 50%;
  }
  html {
    font-size: 18px;
  }
  .card-container {
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    aspect-ratio: 5/4;
  }

  .img-wrapper {
    border-radius: 32px;
    transition: border-radius .5s ease;
  }
  .card-container:hover .img-wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-img{
    transform: scale(1.3);
  }

  .card-title {
    margin: 0;
  }

  /* for improving performance */
  .card-desc,
  .item-tags-wrapper {
    will-change: max-height, opacity;
  }

  .card-desc,
  .item-tags-wrapper {
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .5s ease, opacity .5s ease;
  }
  
  .card-container:hover .card-desc,
  .card-container:hover .item-tags-wrapper {
    max-height: 300px;
    margin-bottom: 1rem;
    opacity: 1;
  }
}
